<h2 id="title">Welcome to Ember</h2>

<h2 class="welcome-header">File upload demo</h2>
    <span class="welcome-header">
      ({{#link-to 'files'}}Files{{/link-to}}, {{#link-to 'notFiles'}}Not Files{{/link-to}})
    </span>
    <br>

    {{outlet}}

    
